<mat-nav-list
  ><a mat-list-item href="#" (click)="closeSidenav()"
    ><mat-icon>face</mat-icon><span>Signup</span>
  </a>
  <a mat-list-item href="#" (click)="closeSidenav()">
    <mat-icon>person_add</mat-icon><span>Login</span>
  </a>
  <mat-list-item href="#" (click)="closeSidenav()"
    ><button mat-icon-button class="ms-5">
      <span>Logout</span>
    </button>
  </mat-list-item>
  <a mat-list-item href="#" (click)="closeSidenav()"
    ><mat-icon>face</mat-icon><span>Next</span>
  </a>
</mat-nav-list>
