<mat-card>
  <!-- <mat-form-field> -->
    <div>
      <input mat-input type="text" placeholder="Title" [(ngModel)]="enteredTitle" />
    </div>
  <!-- </mat-form-field> -->
  <textarea
    matInput
    placeholder="What's on your mind?"
    [(ngModel)]="enteredContent"
  ></textarea>
  <div>
    <button
      (click)="onSavePost()"
      color="primary"
      class="mt-3"
      mat-raised-button
    >
      Save Post
    </button>
  </div>
  <div class="h3">
    {{ enteredTitle }}
  </div>
  <div class="h3">
    {{ enteredContent }}
  </div>
</mat-card>
